#
#	Benchmark template to use for future config files
#
[section flag enabler]  # this section is mandatory for all config scripts.
                        # if there is a block you dont want to use
                        # you must specify it here
query_flag              = True
query_options_flag      = True
query_type_flag         = True
fields_options_flag     = True
post_query_flag		= True

[query]
query_name      	= [
		'QA_DmsData_Test_QA'
				]
query_fields    	= [
		'count',
		'model',
		'version'
				]
query_time      	= [
 	""" "gte": "2020-09-14T07:00:00.000Z","lte": "2020-09-15T06:59:59.999Z" """
				]
[query options]
dms_data		=  True
query_sort 		=  True
query_sort_string	= count
index_string    	= 'dms-stb-data'
size            	= 5000
fixed_interval  	= '30m'
Match_string		= """ {
          "match_all": {}
        }, """
 
[query type]
discover		= True
visual			= False
open_distro		= False
prod			= False

[fields options]
fields_parameter        = """ "field": "signatureName.keyword","""
CustomMarketID          = False

[post query]
Log_Extraction_Flag	= False
Skip_Tar		= False
MetaData_Shell		= False
Signature_Shell		= False
Log_Directory		= Log_Default
